# LCKFB SkyStar STM32F407 + ST-Link through OpenOCD
# source [find interface/cmsis-dap.cfg]

source [find interface/stlink.cfg]

transport select swd

source [find target/stm32f4x.cfg]
adapter speed 1000

# The SkyStar SWD connector exposes NRST. If NRST is not connected and reset
# fails, change this line to: reset_config none
reset_config srst_only
